<div class="jumbotron">
  <h1>Event Management System</h1>
  <p>HKBU Event Management System is a web-based system for department and student societies to broadcast events and
    activities as well as registration.
  </p>
</div>



<!--index.ejs-->
<table class="table">
  <% Management.forEach( function(model) { %>
  <tr>
    <td>
      <%= model.id %>
    </td>
    <td>
      <%= model.eventname %>
    </td>
  </tr>
  <% }); %>
</table>


<!-- <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
           
          </tr>
        </tbody>
      </table> -->