

      <div class="jumbotron">
          <h1>Event Management System</h1>
          <p>HKBU Event Management System is a web-based system for department and student societies to broadcast events and
            activities as well as registration.
          </p>
        </div>
        
        <div class="row">
           <div class="card col-6">
            <div class="row">
              <a class="col-12" href="#">SINGING TEST</a>
            </div>
            <div class="row">
              <img class="col-6" src="http://via.placeholder.com/100x150/dec.png">
              <h5 class="col-6">Introduction</h5>
            </div>
          </div>
        
        
          <div class="card col-6">
              <div class="row">
                <a class="col-12" href="#">SINGING TEST</a>
              </div>
              <div class="row">
                <img class="col-6" src="http://via.placeholder.com/100x150/dec.png">
                <h5 class="col-6">Introduction</h5>
              </div>
            </div>
        
            <div class="card col-6">
                <div class="row">
                  <a class="col-12" href="#">SINGING TEST</a>
                </div>
                <div class="row">
                  <img class="col-6" src="http://via.placeholder.com/100x150/dec.png">
                  <h5 class="col-6">Introduction</h5>
                </div>
              </div>
        
              <div class="card col-6">
                  <div class="row">
                    <a class="col-12" href="#">SINGING TEST</a>
                  </div>
                  <div class="row">
                    <img class="col-6" src="http://via.placeholder.com/100x150/dec.png">
                    <h5 class="col-6">Introduction</h5>
                  </div>
                </div>
        
        </div>
        